.device-switch{
    -fx-skin: "de.jensd.fx.control.skin.DeviceSwitchSkin";
    -fx-padding: 0.0em 0.0em 0.0em 0.5em;
    -fx-background-color: derive(-fx-background, -10%);
}

.device-switch .title{
    -fx-text-fill: -fx-text-base-color;
}

.device-switch .on{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: yellowgreen;
    -fx-background-radius: 0;
    -fx-padding: 0.5em 2.0em 0.5em 2.0em;
}

.device-switch .off{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: orangered;
    -fx-background-radius: 0;
    -fx-padding: 0.5em 2.0em 0.5em 2.0em;
}


