.root{
    -value-view-color: -fx-text-base-color;
    -value-view-alt-color: derive(-value-view-color,-50%);
}

.value-view{
    -fx-skin: "de.jensd.fx.control.skin.ValueViewSkin";
    -fx-padding: 0.5em;
    -fx-background-color: ladder(
        -value-view-color, 
        derive(-value-view-color, 150%) 20%,
        derive(-value-view-color, 120%) 40%,
        derive(-value-view-color, -80%) 60%,
        derive(-value-view-color, -100%) 80%);
}

.value-view .icon-box{
    -fx-padding: 0.2em;
}

.value-view .icon{
    -fx-fill: -value-view-alt-color;
}

.value-view .unit-box{
    -fx-padding: 0.2em;
}

.value-view .unit{
    -fx-text-fill: -value-view-alt-color;
}

.value-view .value{
    -fx-text-fill: -value-view-color;
}

.value-view .title{
    -fx-text-fill: -value-view-alt-color;
}

.value-view .separator .line{
    -fx-border-width: 0.03em; /* 1 */
    -fx-border-color: -value-view-alt-color;
}

